<footer class="footer">
    <div class="container footer-container">
        <a class="footer-link" href="./#home">
                <img class="footer-logo" src="/img/footer/logo.png" alt="HUNGRY NIGHT" loading="lazy" />
        </a>
        <ul class="footer-navigation">
            <li class="footer-link">
                <a class="footer-underline" href="terms.html">Terms & Conditions</a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="privacy.html">Privacy Policy </a>
            </li>
            <li class="footer-link">
                <a class="footer-underline" href="cookies.html">Cookies Policy</a>
            </li>
        </ul>

        <p class="footer-text">© 2026 — All rights reserved. clickivo.online</p>
    </div>
</footer>