<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Hungry Night</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                /img/hero/logo-desk.png 1x,
                /img/hero/logo-desk@2x.png 2x
                             " media="(min-width: 1440px)" />
                <source srcset="
                /img/hero/logo-mob.png 1x,
                /img/hero/logo-mob@2x.png 2x
                            " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/hero/logo-mob.png" alt="Hungry Night" loading="lazy" />
            </picture>
            <p class="hero-big-text">You know what's weird? Some of the coolest<br class="desk"/> stuff happens in the dark.</p>
            <a class="hero-link btn" href="#demo">
               <p>Enter the Night</p>
            </a>            
            <p class="home-text">There is a place beneath the world where night never ends.<br/>A realm shaped by silence, glowing eyes, and delicate danger
            — where darkness isn’t empty, but alive.<br/>
            Hungry Night draws you into this underworld, where two ancient queens rule in quiet rivalry.<br />Honestly, whoever designed
            this must've been obsessed with gothic horror movies.</p>

        </div>
    </div>
</section>
<section class="disclaimer-section">
    <div class="container disclamer-container">
        <h2 class="disclaimer-title">DISCLAIMER</h2>
        <p class="disclaimer-text">clickivo.online IS A PLATFORM FOR HAVING FUN. THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION
        OF REAL-LIFE RESULTS. GAME IS INTENDED FOR ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY THE EXPERIENCE.</p>
    </div>
</section>
<section class="night-section" id="night">
    <div class="container">
        <h2>THE NIGHT REALM</h2>
        <h3 class="night-subtitle">A World Without Sunlight</h3>
        <div class="night-wrapper">
            <p>The underworld of Hungry Night is not loud or chaotic.<br/>It’s calm, controlled, and unsettling in its beauty.</p>
            <p>Moonlight reflects off stone and silk-like webs.<br/>Wings stir the air. Shadows move slowly, as if watching.</p>
        </div>
        <p>This world is designed to feel immersive — a place you don’t rush through, but explore carefully.</p>
    </div>
</section>
<section class="queens-section" id="queens">
    <div class="container queens-container">
        <h2>THE QUEENS</h2>
        <h3 class="queens-subtitle">Two Rulers. One Endless Night.</h3>
        <p>At the heart of the realm stand two opposing forces.</p>
        <ul class="queens-list">
            <li class="queens-item">
              <picture>
                 <source srcset="
                    /img/queens/bat-girl-desk.png 1x,
                    /img/queens/bat-girl-desk@2x.png 2x
                    " media="(min-width: 1440px)" />
                    <source srcset="
                    /img/queens/bat-girl-mob.png 1x,
                    /img/queens/bat-girl-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                     <img class="queens-img queen-one" src="/img/queens/bat-girl-mob.png" alt="bat girl" loading="lazy" />
               </picture>
               <div class="queen-item-wrapper">
               <h4 class="queen-title-item">The Queen of Bats</h4>
               <p class="queen-text-item">swift, silent, and precise. Her domain is motion, flight, and sudden shifts.</p>
            </div>
            </li>
            <li class="queens-item">
                <picture>
                    <source srcset="
                                /img/queens/spider-girl-desk.png 1x,
                                /img/queens/spider-girl-desk@2x.png 2x
                                " media="(min-width: 1440px)" />
                    <source srcset="
                                /img/queens/spider-girl-mob.png 1x,
                                /img/queens/spider-girl-mob@2x.png 2x
                                " media="(max-width: 1439px)" />
                    <img class="queens-img queen-two" src="/img/queens/spider-girl-mob.png" alt="bat girl" loading="lazy" />
                </picture>
                <div class="queen-item-wrapper">
                <h4 class="queen-title-item queen-title-item-two">The Queen of Spiders</h4>
                <p class="queen-text-item">patient, calculated, and unyielding. Her power lies in control and inevitability.</p>
            </div>
            </li>
        </ul>
    </div>
</section>
<section class="demo-section" id="demo">
    <div class="container demo-container">
        <h2 class="visually-hidden">Play</h2>
        <div class="demo-wrapper" id="game">
            <picture>
                <source srcset="
                /img/demo/demo-desk.png 1x,
                /img/demo/demo-desk@2x.png 2x
                " media="(min-width: 1440px)" />
                <source srcset="
                /img/demo/demo-mob.png 1x,
                /img/demo/demo-mob@2x.png 2x
                " media="(max-width: 1439px)" />
                <img class="demo-img" src="/img/demo/demo-mob.png" alt="Hungry Night" loading="lazy" />
            </picture>


            <div class="iframe-wrapper">
                <iframe id="gameIframe" name="gameIframe"></iframe>

                <button id="closeIframeBtn" class="hidden-close-btn" aria-label="Close">
                    <img class="close-img" src="/img/demo/close.png" alt="Close">
                </button>
            </div>
            <a class="demo-btn btn pulse" href="#"
                data-game-url="https://demo.evoplay.games/demo/fullstate/html5/evoplay/hungrynight" target="gameIframe">
                <p>Enter the Night</p>
            </a>
        </div>

    </div>
</section>
<section class="visual-section" id="visual">
    <div class="container visual-container">
        <h2 class="how-title title">VISUAL BEAUTY</h2>
        <p class="how-text">It's About Focus, Not Racing</p>
        <div class="swiper visual-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="visual-img" src="/img/challenge/one.png" alt="HOW IT WORKS" loading="lazy">
                    <p class="how-slide-text">The real challenge in<br /> Book of Keno isn’t<br /> complexity</p>
                </div>
                <div class="swiper-slide">
                    <img class="visual-img" src="/img/challenge/two.png" alt="HOW IT WORKS" loading="lazy">
                    <p class="how-slide-text">It’s staying<br />
                        present</p>
                </div>
                <div class="swiper-slide">
                    <img class="visual-img" src="/img/challenge/three.png" alt="HOW IT WORKS" loading="lazy">
                    <p class="how-slide-text">Over time, patterns<br /> start to feel familiar</p>
                </div>
                <div class="swiper-slide">
                    <img class="visual-img" src="/img/challenge/four.png" alt="HOW IT WORKS" loading="lazy">
                    <p class="how-slide-text">Some players stick to<br /> instinct, others to<br /> observation</p>
                </div>
                <div class="swiper-slide">
                    <img class="visual-img" src="/img/challenge/five.png" alt="HOW IT WORKS" loading="lazy">
                    <p class="how-slide-text">There’s no pressure<br /> to rush. The book<br /> waits.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="gallery-section" id="gallery">
    <div class="container gallery-container">
        <h2 class="how-title title">GALLERY</h2>
        <p class="how-text">Inside the Book</p>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/img/gallery/one.png" alt="Book of Keno" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/two.png" alt="Book of Keno" loading="lazy">
                </div>
                <div class="swiper-slide">
                    <img src="/img/gallery/three.png" alt="Book of Keno" loading="lazy">
                </div>
            </div>
            <div class="arrow-wrapper">
                <button class="gallery-prev gallery-arrow">
                    <img class="arrow" src="/img/gallery/left.png" alt="Prew arrow" loading="lazy">
                </button>
                <button class="gallery-next gallery-arrow">
                    <img class="arrow" src="/img/gallery/right.png" alt="Next arrow" loading="lazy">
                </button>
            </div>
        </div>
    </div>
</section>