body{
  background-image: url("/img/bg/mob.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    color: #fff;
}
h2{
  font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 0.83333;
    text-transform: uppercase;
    text-align: center;
    color: #f6af1a;
}
h3{
  font-family: "Montserrat", sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    color: #fff;
}
.btn{
  border-radius: 15px;
    width: 355px;
    height: 72px;
    background: linear-gradient(90deg, #f6af1a 0%, #fff600 100%);
    padding: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
      font-weight: 900;
      font-size: 24px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      color: #130117;
}
@media only screen and (min-width: 1440px) {
 body{
  background-image: url("/img/bg/desk.png");
 } 
}