.header {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  width: 100%;
  height: 70px;
background: #130117;
}

.header-container {
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 121px;
  width: 28px;
  height: 28px;
  margin-left: auto;
  background-color: inherit;
}

.navigation-list {
  display: none;
}

/* Modal */
.modal {
  display: none;
  background-image: url("/img/header/mob.png");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 24px;
  width: 100%;
  height: auto;
  z-index: 1000;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  transition: visibility 0.3s ease;
}

.menu-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}


.menu-item {
font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.menu-item:hover,
.menu-item:focus,
.menu-item.active {
text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6af1a;
}


@media screen and (min-width: 1440px) {
  .header {
    height: 82px;
  }

  .header-container {
    padding: 3px 150px 3px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
  }

  .menu-button {
    display: none;
  }

  .navigation-list {
    display: flex;
    justify-content: center;
    gap: 48px;
  }

  .navigation-item {
font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #fff;
    transition: all 0.3s ease-in-out;
  }


  .navigation-item:hover,
  .navigation-item:focus,
  .navigation-item.active {
text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #f6af1a;
  }

}