.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}
.home-section{
    background-image: url("/img/hero/mob.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 368px;
}
.home-container{
    padding-bottom: 410px;
}
.home-wrapper{
    margin-top: 68px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
.hero-big-text{
    margin-top: 13px;
   margin-bottom: 13px;
font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16667;
    text-align: center;
    color: #f6af1a;
}
.home-text{
    font-family: "Montserrat", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55556;
        text-align: center;
        color: #fff;
}
.desk{
    display: none;
}
@media only screen and (min-width: 1440px) {
  .home-section{
    background-image: url("/img/hero/desk.png");
    background-size: 1315px 533px;
    background-position: bottom 120px center;
  }
  .home-container{
    padding-bottom: 45px;
  }
  .desk{
    display: block;
  }
}
/* DISCLAIMER */
.disclamer-container{
    margin-top: 40px;
    margin-bottom: 40px;
border-radius: 25px;
    padding: 56px 0px;
    width: 356px;
    height: 525px;
    backdrop-filter: blur(15.600000381469727px);
        box-shadow: 0 0 50px 0 #db2da2;
        background: rgba(0, 0, 0, 0.5);
}
.disclaimer-title{
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 40px;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
        color: #f6af1a;
}
.disclaimer-text{
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.25;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
}
@media only screen and (min-width: 1440px) {
  .disclamer-container{
    width: 1160px;
        height: 212px;
        padding: 30px 64px;
  }
  .disclaimer-text{
    font-size: 20px;
    line-height: 1.7;
  }
}
/* THE NIGHT REALM */
.night-subtitle{
    margin-top: 20px;
}
.night-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 34px;
    margin-top: 34px;
}
@media only screen and (min-width: 1440px) {
 .night-wrapper{
    flex-direction: row;
    gap: 56px;
    justify-content: center;
    text-align: left;
 }
}
/* THE QUEENS */
.queens-subtitle{
    margin-top: 21px;
    margin-bottom: 37px;
}
.queens-list{
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 59px;
    align-items: center;
}
.queens-item{
    display: flex;
        flex-direction: column;
        align-items: center;
}
.queen-title-item{
    margin-bottom: 24px;
    font-family: "Montserrat", sans-serif;
        font-weight: 900;
        font-size: 20px;
        line-height: 1.4;
        text-transform: uppercase;
        text-align: center;
        color: #db2da2;
}
.queen-text-item{
    width: 292px;
}
.queen-title-item-two{
    color: #00ffd9;
    margin-top: 54px;
}
@media only screen and (min-width: 1440px) {
.queens-container{
    position: relative;
}
.queens-img{
    position: absolute;
}
.queens-list{
    gap: 68px;
}
.queen-one{
    position: absolute;
    top: 0;
    left:5%;
}
.queen-two{
    position: absolute;
        top: 0;
        right: 6%;
}
}